html
    title= title
    head
        link(rel="stylesheet" href="kenziegram.css")
    body
        h1= title
        form(id= "uploadForm" action="/upload" enctype="multipart/form-data" method="POST")
            input(name="pic", type="file",id="fileSelect", accept="image/*")
            input(id="uploadBut" type="submit" value="Upload")

    #imageDisplay
        
script(src='kenzie.js')
